::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgb(77, 77, 77);
    border: 0px none rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(109, 109, 109);
}

::-webkit-scrollbar-thumb:active {
    background: rgb(141, 141, 141);
}

::-webkit-scrollbar-track {
    background: rgb(45, 45, 45);
    border: 0px none rgb(255, 255, 255);
}

::-webkit-scrollbar-track:hover {
    background: rgb(45, 45, 45);
}

::-webkit-scrollbar-track:active {
    background: rgb(45, 45, 45);
}