.window {
    height: fit-content !important;
    width: fit-content !important;
    position: absolute !important;
    display: none;
    animation: fadein;
    top: 50px;
    left: 50px;
}

.header {
    width: 100% !important;
    height: fit-content;
    background-color: var(--ui-base-color);
    cursor: move;
    overflow: auto;
}

.content {
    width: fit-content;
    margin: 0;
    padding: 0;
    height: fit-content;
}

.content textarea {
    resize: both;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    min-width: 140.8px;
    color: black;
    padding: 5px;
    font-size: 12px;
}

.headertext {
    color: white;
    background: none;
    height: 23.5px;
    border: black solid 0px;
    border-radius: 5px;
    font-size: 17.5px;
    margin: 3px;
    margin-right: 0px;
    padding: 0;
    pointer-events: none;
}

.closebutton {
    float: right;
    color: white;
    background: darkred;
    height: 23.5px;
    width: 23.5px;
    border-radius: 5px;
    font-size: 18px;
    margin: 3px;
    padding: 4px;
}

.closebutton:hover {
    background-color: red !important;
}

.closebutton:active {
    background-color: darkred !important;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.focused {
    z-index: 5 !important;
}