body {
    overflow: hidden;
    user-select: none;
    touch-action: manipulation;
    transition: all 0.5s ease !important;
    background: #000000;
    height: 100dvh;
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}

@font-face {
    font-family: 'Righteous';
    src: url("../css/Righteous-Regular.ttf");
}

#navigation {
    position: absolute;
    z-index: 2;
    top: 0;
    height: 40px;
    width: 100vw;
    border: none;
    padding: 5px;
    background: #00000050;
    backdrop-filter: blur(5px);
}

#health {
    height: 100%;
    float: right;
}

#navigation img {
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.sidenav {
    height: calc(100dvh - 40px);
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100vw;
    place-items: center;
    justify-content: center;
    background: #00000025;
    backdrop-filter: blur(5px);
}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: 0.3s;
    border: #ffffff50 solid 1px;
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
    cursor: pointer;
    width: calc(100% - 20px);
}

.sidenav a:first-child {
    margin: 10px 10px 10px 10px;
}

.sidenav a:hover {
    background: #ffffff25;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.bottomsidebar {
    background: #2d2d2d;
    height: 70px;
    padding-left: 55px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.topsidebar {
    height: fit-content;
    background: #00000050;
    border-radius: 10px;
}

.loadingScreen {
    width: 100vw;
    height: 100dvh;
    position: absolute;
    z-index: 10;
    backdrop-filter: blur(10px);
    background: #1d1d1dab;
    color: white;
    text-align: center;
    justify-content: center;
    place-items: center;
    display: flex;
}

#devtools {
    position: absolute;
    height: calc(100dvh - 40px);
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10;
    bottom: 0;
    justify-content: center;
    place-items: center;
}

#terminal {
    position: absolute;
    backdrop-filter: blur(10px);
    background: #1d1d1dab;
    padding: 20px;
    height: 40vh;
    color: white;
    overflow: auto;
    width: 45vw;
    resize: both;
    overflow: auto;
}

#skiploading {
    position: absolute;
    border: 0;
    background: 0;
    color: white;
    bottom: 0;
    margin-bottom: 25px;
}

#chats {
    overflow: hidden;
    flex-direction: column-reverse;
    position: absolute;
    z-index: 1;
    height: 20vh;
    bottom: 0;
    width: 100vw;
    pointer-events: none;
}

#chats input {
    padding: 10px;
    background: #00000025;
    color: white;
    border: none;
    pointer-events: all;
}

#chats input:focus {
    background: #00000050;
}

#chats input::placeholder {
    color: white;
}

#chats p {
    pointer-events: all;
    margin: 0;
    color: white;
    width: fit-content;
    margin: 10px;
    font-size: 14px;
}

#signinbox {
    backdrop-filter: blur(10px);
    background: #1d1d1dab;
    padding: 25px;
    border-radius: 5px;
}

#signinbox input,
#signinbox button {
    padding: 10px;
    width: 100%;
}

#joyDiv {
    width: 40dvh;
    height: 40dvh;
    bottom: 0;
    left: 0;
    margin: 30px;
    color: transparent;
    position: fixed;
    z-index: 1;
}

#jumpDiv {
    width: 10%;
    height: 20%;
    bottom: 0;
    right: 0;
    margin: 30px;
    color: #00000050;
    position: fixed;
    font-size: 55px;
    pointer-events: none;
    z-index: 1;
}

#shiftLock {
    color: #00000050;
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    place-items: center;
    position: absolute;
    pointer-events: none;
    top: 0;
}

#jumpDiv i {
    pointer-events: all;
}

#sidenav-content {
    min-width: 25vw;
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideOutDown {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        visibility: hidden;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

#gamename {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background: #00000050;
    padding: 15px;
    background-size: cover;
    background-position: center center;
    box-shadow: 10vw -1px 100px 8px rgba(0, 0, 0, 1) inset;
}