body {
    overflow: hidden;
    user-select: none;
    touch-action: manipulation;
    transition: all 0.5s ease !important;
    background: #000000;
    height: 100vh;
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'horangfont';
    outline: none;
}

@font-face {
    font-family: 'horangfont';
    src: url("../css/Righteous-Regular.ttf");
}

#navigation {
    position: absolute;
    z-index: 2;
    top: 0;
    height: 40px;
    width: 100vw;
    border: none;
    background: none;
    padding: 5px;
    background: #00000050;
}

#health {
    height: 100%;
    float: right;
}

#navigation img {
    height: 100%;
    border-radius: 5px;
}

.sidenav {
    height: calc(100vh - 40px);
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #1d1d1d;
    overflow: hidden;
    transition: 0.5s;
    z-index: 10;
    bottom: 0;
}

.sidenav a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding-top: 0;
}

.sidenav hr {
    margin: 10px 20px 20px;
    border-color: #818181;
}

.sidenav a:first-child {
    padding-top: 10px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.bottomsidebar {
    background: #2d2d2d;
    height: 70px;
    padding-left: 55px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.topsidebar {
    height: calc(100% - 70px);
}

.loadingScreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    backdrop-filter: blur(10px);
    background: #1d1d1dab;
    color: white;
    text-align: center;
    justify-content: center;
    place-items: center;
    display: flex;
}

#devtools {
    position: absolute;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s;
    z-index: 10;
    right: 0;
}

#terminal {
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    background: #1d1d1dab;
    padding: 20px;
    height: calc(100vh - 40px);
    bottom: 0;
    color: white;
    overflow: auto;
    width: 100%;
}

#skiploading {
    position: absolute;
    border: 0;
    background: 0;
    color: white;
    bottom: 0;
    margin-bottom: 25px;
}

#chats {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    z-index: 1;
    padding: 10px;
    height: 20vh;
    width: 20vw;
    transition: 0.5s;
    margin-top: 45px;
    margin-left: 5px;
    background: #00000050;
}

#chats input {
    padding: 5px;
    margin-top: 10px;
    background: #ffffff50;
    color: black;
    border: none;
}

#chats input::placeholder {
    color: black;
}

#chats p {
    pointer-events: all;
    margin: 0;
    color: white;
    width: fit-content;
}

#signinbox {
    backdrop-filter: blur(10px);
    background: #1d1d1dab;
    padding: 25px;
    border-radius: 5px;
}

#signinbox input,
#signinbox button {
    padding: 10px;
    width: 100%;
}

#joyDiv {
    width: 10%;
    height: 20%;
    bottom: 0;
    left: 0;
    margin: 30px;
    color: transparent;
    position: fixed;
    z-index: 1;
}

#jumpDiv {
    width: 10%;
    height: 20%;
    bottom: 0;
    right: 0;
    margin: 30px;
    color: #00000050;
    position: fixed;
    font-size: 55px;
    pointer-events: none;
    z-index: 1;
}

#jumpDiv i {
    pointer-events: all;
}